{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header>
			{% block header %}
				<div>
					<h1 role="banner">
						<a href="/" rel="home">{{site.name}}</a>
					</h1>
					<nav id="nav-main" class="nav-main" role="navigation">
						{% include 'menu.twig' with { 'menu': header_menu } %}
					</nav><!-- #nav -->
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if (post.get_thumbnail) %}
			<div class="header" style="background-image: url('{{ post.thumbnail.src | resize(1920, 240) }}');">
				{% block title %}{% endblock %}
			</div>
			{% endif %}

			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				<nav id="nav-secondary" class="nav-secondary" role="navigation">
					{% include 'menu.twig' with { 'menu': footer_menu } %}
				</nav>
				<div class="wrapper">{% include 'footer.twig' %}</div>
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>